
{% extends "layout.html" %}

{% block pageTitle %}
  Error - Get licence details
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#email-address-error">Please enter a valid email address</a>
            </li>
            <li>
              <a href="#telephone-number-error">Please enter a valid mobile number</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-l">How can we send you your licence details?</h1>
      <div class="govuk-inset-text">We don’t send 1-day or 8-day licences in the post, but you must be able to produce your licence number when you go fishing.</div>
      <form action="contact-errors" method="post" autocomplete="off" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Choose how we send you your licence details
              </h1>
            </legend>
            <div class="govuk-radios" data-module="radios">
              <div class="govuk-radios__item">
                <input checked="checked" class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                Email or text me my licence details
              </label>
              </div>
              <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-1">
                <div class="govuk-form-group govuk-form-group--error">
                  <label class="govuk-label" for="contact-by-email">Email address</label>
                  <span id="email-address-hint" class="govuk-hint">For example 'angling@hotmail.com'</span>
                  <span id="email-address-error" class="govuk-error-message">Please enter an email address</span>
                  <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="contact-by-email" name="contact-by-email" type="email">
                </div>
                <div class="govuk-form-group govuk-form-group--error">
                  <label class="govuk-label" for="contact-by-phone">Text number</label>
                  <span id="telephone-number-hint" class="govuk-hint">For example '07700 900 900'</span>
                  <span id="telephone-number-error" class="govuk-error-message">Please enter a valid mobile number, for overseas numbers include '+' followed by your country code </span>
                  <input type="tel" pattern="^[0-9-+\s()]*$" class="govuk-input govuk-!-width-one-third govuk-input--error" id="contact-by-phone" name="contact-by-phone">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-2" name="how-contacted" type="radio" value="phone" data-aria-controls="how-contacted-2">
                <label class="govuk-label govuk-radios__label" for="how-contacted-2">
                I will write down my licence number
              </label>
              </div>
            </div>
          </fieldset>
        </div>
       
        <p class="govuk-body">Read about <a href="/data-protection?returnUrl=/buy/contact">how we use your personal information</a></p>

        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-opt-in" name="marketingOptIn" type="checkbox" value="true">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-opt-in">
            Update me with the latest news on angling and fisheries and how you spend my licence money
          </label>
          </div>
        </div>
        <button type="submit" class="govuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}