
{% extends "layout.html" %}

{% block pageTitle %}
  Rod licence terms and conditions
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Get a rod fishing licnce</span> Terms and conditions
      </h1>
     <p class="govuk-body-l">By purchasing a fishing licence online, you agree to these terms and conditions.</p>
      <h3 class="govuk-heading-m">Using the online service</h3>
      <p class="govuk-body">You agree to use service only for lawful purposes. You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.</p>
      <p class="govuk-body">We update the service all the time. We can change or remove content at any time without notice.</p>

      <h3 class="govuk-heading-m">Licence conditions</h3>
      <p class="govuk-body">When you apply for a licence you agree that:
        <ul class="govuk-list govuk-list--bullet">
          <li>the licence will only be used by the person named on it</li>
          <li>you will carry the necessary proof of your licence when you go fishing and show it to our bailiffs if they ask</li>
          <li>the licence gives you the right to use a fishing rod and line only - not the right to fish. You will check you have permission from any owner of fishing rights before you fish</li>
          <li>you will read and comply with the freshwater rod fishing rules</li>
          <li>you will only use the licence while it is valid</li>
          <li>If you are purchasing a salmon and sea trout licence, you are legally required to submit a catch return (link to guidance)</li>
        </ul>
      </p>

      <h3 class="govuk-heading-m">Your privacy</h3>
      <p class="govuk-body">Your information will be stored securely and used in line with our privacy policy. By using the online application service, you agree to us collecting this information and confirm that any data you provide is accurate.</p>

      <h3 class="govuk-heading-m">Cookies</h3>
      <p class="govuk-body">This online service uses cookies. For more information about cookies and examples of cookies which may be used in our service, view our cookies policy. By continuing to use our service, you are agreeing to the use of cookies.</p>

      <p class="govuk-body">If you use your browser settings to block all cookies, including essential cookies, some or all of our service may not work properly.</p>

      <h3 class="govuk-heading-m">Virus protection</h3>
      <p class="govuk-body">We make every effort to check and test the service for viruses at every stage of production. You must make sure that the way you use the service does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.</p>
      <p class="govuk-body">We’re not responsible for any loss, disruption or damage to your data or computer system that might happen when you use the service.</p>

      <h3 class="govuk-heading-m">Governing law</h3>
      <p class="govuk-body">These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
      <p class="govuk-body">Any dispute you have which relates to these terms and conditions, or your use of the service (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

      <h3 class="govuk-heading-m">Changes to these terms and conditions</h3>
      <p class="govuk-body">Please check these terms and conditions regularly. We can update them at any time without notice.</p>
      <p class="govuk-body">You’ll agree to any changes if you continue to use the service after the terms and conditions have been updated.</p>

      <h3 class="govuk-heading-m">Applicable law</h3>
      <p class="govuk-body">These terms of use, its subject matter and its formation, are governed by English law. All rights, obligations and remedies contained in these terms of use are governed by English law. Any contractual or non-contractual disputes regarding such matters or regarding our service are governed by English law and we and you both agree to the exclusive jurisdiction of the courts of England and Wales.</p>

      <h3 class="govuk-heading-m">Refunds</h3>
      <p class="govuk-body">Copy to follow</p>

      <h3 class="govuk-heading-m">Contact us</h3>
      <p class="govuk-body">To contact us, request help, or complain about the content of our service, email XXXXXXXXX@environment-agency.gov.uk.
      We will inform you of the outcome of our review of any complaint made by you within a reasonable time after receiving your complaint.</p>
    </div>
  </div>
{% endblock %}