
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype - Get a rod fishing licence
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption">Latest prototypes</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Feature</th>
            <th class="govuk-table__header" scope="col">Last Edited</th>
            <th class="govuk-table__header" scope="col">Story</th>
            <th class="govuk-table__header" scope="col">Branch</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="contact.html">Contact details validation</a></td>
            <td class="govuk-table__cell ">20/07/18</td>
            <td class="govuk-table__cell "><a href="https://eaflood.atlassian.net/browse/FB-60">FB-60</a></td>
            <td class="govuk-table__cell ">n/a - heroku build</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="terms.html">Terms and conditions consent</a></td>
            <td class="govuk-table__cell ">09/07/18</td>
            <td class="govuk-table__cell "><a href="https://eaflood.atlassian.net/browse/FB-72">FB-72</a></td>
            <td class="govuk-table__cell ">n/a - heroku build</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="pricing.html">Pricing boxout</a></td>
            <td class="govuk-table__cell ">06/07/18</td>
            <td class="govuk-table__cell "><a href="https://eaflood.atlassian.net/browse/FB-57">FB-57</a></td>
            <td class="govuk-table__cell ">n/a - heroku build</td>
          </tr>
        </tbody>
      </table>
      <!--<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <table class="govuk-table">
        <caption class="govuk-table__caption">Completed prototypes</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Feature</th>
            <th class="govuk-table__header" scope="col">Last Edited</th>
            <th class="govuk-table__header" scope="col">Story</th>
            <th class="govuk-table__header" scope="col">Branch</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "></td>
            <td class="govuk-table__cell "></td>
            <td class="govuk-table__cell "></td>
            <td class="govuk-table__cell "></td>
          </tr>
        </tbody>
      </table>-->
    </div>
  </div>
{% endblock %}