
{% extends "layout.html" %}

{% block pageTitle %}
  What type of fishing licence do you want?
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption">Latest prototype</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Feature</th>
            <th class="govuk-table__header" scope="col">Last Edited</th>
            <th class="govuk-table__header" scope="col">Story</th>
            <th class="govuk-table__header" scope="col">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell ">Contact details validation</td>
            <td class="govuk-table__cell ">12/07/18</td>
            <td class="govuk-table__cell "><a href="https://eaflood.atlassian.net/browse/FB-60">FB-60</a></td>
            <td class="govuk-table__cell "><a href="contact.html">Link</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell ">Terms and conditions consent</td>
            <td class="govuk-table__cell ">09/07/18</td>
            <td class="govuk-table__cell "><a href="https://eaflood.atlassian.net/browse/FB-72">FB-72</a></td>
            <td class="govuk-table__cell "><a href="terms.html">Link</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell ">Pricing boxout</td>
            <td class="govuk-table__cell ">06/07/18</td>
            <td class="govuk-table__cell "><a href="https://eaflood.atlassian.net/browse/FB-57">FB-57</a></td>
            <td class="govuk-table__cell "><a href="pricing.html">Link</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}