
{% extends "layout.html" %}

{% block pageTitle %}
  Terms and conditions
{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="gem-c-title
  
  gem-c-title--bottom-margin">
  <h1 class="gem-c-title__text ">
    Buy a rod fishing licence
  </h1>
</div>

      <aside class="part-navigation-container" role="complementary" style="padding-bottom: 10px; border-bottom: 1px solid #bfc1c3;">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="/fishing-licences" data-track-options='{"dimension29":"When you need a licence"}' href="/fishing-licences">When you need a licence</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          Buy a rod fishing licence
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
          <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/fishing-licences/fishing-in-scotland-and-northern-ireland" data-track-options='{"dimension29":"Fishing in Scotland and Northern Ireland"}' href="/fishing-licences/fishing-in-scotland-and-northern-ireland">Fishing in Scotland and Northern Ireland</a>
        </li>
    </ol>
  </nav>

      </aside>
  </div>
  <div class="column-two-thirds">
        <h1 class="govuk-heading-l" style="margin-top: 20px;">
          Buy a rod fishing licence
        </h1>
      
<div class="gem-c-govspeak govuk-govspeak direction-ltr rich-govspeak disable-youtube">
      <p>You can buy a 1-day, 8-day or 12-month licence online.</p>

<p>You’ll need:</p>

<ul>
  <li>a debit or credit card</li>
  <li>your Blue Badge or National Insurance number, if you have a disability and you’re applying for a 12-month licence</li>
  <li>the other person’s details (such as date of birth), if you’re buying for someone else</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can use the online service to get a junior licence for children aged 13 to 16. You won’t need to pay.</p>
</div>

<p>This licence can start on any date as long as it’s within 90 days of the day you buy it.</p>

<div class="transaction">
<p class="get-started group">
<a class="button button-start" href="https://get-fishing-licence.service.gov.uk/buy">Buy now</a>
</p>
</div>

<p>You can also buy a licence:</p>

<ul>
  <li>by calling the Environment Agency</li>
  <li>in person at a Post Office - if the licence is for someone over 16</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Contact the Environment Agency if you haven’t received your 12-month licence within 10 working days.</p>
</div>

<div class="contact">
<p><strong>Environment Agency</strong> <br>
Telephone: 0344 800 5386 <br>
Monday to Friday, 8am to 6pm <br>
Saturdays, 8am to 1pm (from 1 March to 31 May) <br>
Bank holidays, 8am to 6pm (from 1 March to 31 May) <br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<h2 id="prices">Prices</h2>

<table>
  <thead>
    <tr>
      <th>Licence type</th>
      <th>Trout and coarse 2-rod</th>
      <th>Trout and coarse 3-rod</th>
      <th>Salmon and sea trout</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1-day</td>
      <td>£6</td>
      <td>Not available</td>
      <td>£12</td>
    </tr>
    <tr>
      <td>8-day</td>
      <td>£12</td>
      <td>Not available</td>
      <td>£27</td>
    </tr>
    <tr>
      <td>12-month</td>
      <td>£30</td>
      <td>£45</td>
      <td>£82</td>
    </tr>
    <tr>
      <td>12-month - over 65 or disabled</td>
      <td>£20</td>
      <td>£30</td>
      <td>£54</td>
    </tr>
    <tr>
      <td>12-month - junior (13 to 16)</td>
      <td>Free</td>
      <td>Free</td>
      <td>Free</td>
    </tr>
  </tbody>
</table>

<p>You can get a 12-month disabled person’s licence if you’ve got a Blue Badge, or you get Disability Living Allowance or Personal Independence Payment (any rate) - you’ll need your National Insurance number to prove this.</p>

<p>You can also get a discounted 12-month licence if you’re over 65. You can’t get a discount for a 1-day or an 8-day licence.</p>

<h2 id="refunds">Refunds</h2>
<p>In certain circumstances you can be eligible for a refund on a 365 day licence. Please see <a href="#">our full refunds policy</a> for details and contact information.</p>

<h2 id="extend-a-licence">Extend a licence</h2>

<p>To change a 1-day or 8-day licence to a 12-month licence, call the Environment Agency within 14 days of buying it. You’ll need to buy a new licence but you’ll get a refund for the first one you bought.</p>

<div class="contact">
<p><strong>Environment Agency</strong>  <br>
Telephone: 0344 800 5386 <br>
Monday to Friday, 8am to 6pm <br>
Saturdays, 8am to 1pm (from 1 March to 31 May) <br>
Bank holidays, 8am to 6pm (from 1 March to 31 May) <br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<h2 id="replace-a-licence-or-update-your-details">Replace a licence or update your details</h2>

<p>Contact the Environment Agency:</p>

<ul>
  <li>if you have questions about your licence</li>
  <li>to replace a licence</li>
  <li>to update your details if you’ve changed your name or address</li>
</ul>

<div class="contact">
<p><strong>Environment Agency</strong><br>
Email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
Telephone: 03708 506 506<br>
Textphone: 03702 422 549<br>
Monday to Friday, 8am to 6pm <br>
Saturdays, 8am to 1pm (from 1 March to 31 May) <br>
Bank holidays, 8am to 6pm (from 1 March to 31 May) <br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<div class="address"><div class="adr org fn"><p>

National Customer Contact Centre
<br>Environment Agency
<br>Bradmarsh Business Park
<br>Bow Bridge Close
<br>Rotherham
<br>S60 1BY
<br>
</p></div></div>


</div>

      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="/fishing-licences" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/fishing-licences" data-track-dimension="previous" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewbox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">When you need a licence</span>
        </a>
      </li>
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="/fishing-licences/fishing-in-scotland-and-northern-ireland" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/fishing-licences/fishing-in-scotland-and-northern-ireland" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            Next
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewbox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Fishing in Scotland and Northern Ireland</span>
        </a>
      </li>
  </ul>
</nav>


        
<div class="app-c-print-link">
  <a href="/fishing-licences/print" class="app-c-print-link__link" rel="alternate">
    Print entire guide
  </a>
</div>

  </div>
    <div class="column-one-third">
  

  <!-- Rendering related navigation sidebar because the page is tagged to mainstream browse -->
  
  <div class="gem-c-related-navigation">
    <h2 id="related-nav-related_items-304a5bbc" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
      Related content
    </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-304a5bbc" data-module="toggle">


  <ul class="gem-c-related-navigation_link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/freshwater-rod-fishing-rules" data-track-options='{"dimension28":"1","dimension29":"Freshwater rod fishing rules"}' href="/freshwater-rod-fishing-rules">Freshwater rod fishing rules</a></li>

  </ul>
</nav>



      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-304a5bbc" data-module="toggle">

    <h3 id="related-nav-topics-304a5bbc" data-track-count="sidebarRelatedItemSection" class="gem-c-related-navigation__sub-heading">
      Explore the topic
    </h3>

  <ul class="gem-c-related-navigation_link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.1 Explore the topic" data-track-label="/browse/environment-countryside/fishing-hunting" data-track-options='{"dimension28":"2","dimension29":"Fishing and hunting"}' href="/browse/environment-countryside/fishing-hunting">Fishing and hunting</a></li>
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.2 Explore the topic" data-track-label="/topic/environmental-management/fisheries-rod-licensing" data-track-options='{"dimension28":"2","dimension29":"Fisheries and rod licensing"}' href="/topic/environmental-management/fisheries-rod-licensing">Fisheries and rod licensing</a></li>

  </ul>
</nav>

  </div>


</div>

</div>

{% endblock %}